@import "comatose-fonts";

h1, h2, h3, h4, h5, h6, legend, nav a, .nocomments {
	font-family: BebasNeueRegular, sans-serif;
	font-weight: normal;
	text-shadow: none !important;
}

h1, h2, h3, h4, h5, h6, legend, .nocomments {
	a:hover {
		text-decoration: none;
	}
}

#page {
	min-width: 250px;
	overflow: hidden;
}

/* header styling */

#branding,
#colophon {
	h1 {
		@include gigantic;
		
		margin-bottom: 0;
		
		a {
			color: $text-color;
			&:hover {
				color: $text-color;
			}
		}
	}
	h2 {
		@include massive;
	}
	
	h3 {
		@include huge;
	}
	
	h4, h5, h6 {
		@include large;
	}
}

#main {

	margin-top: $text-lineheight;

	h1 {
		@include massive;
	}
	
	h2{
		@include huge;
	}
	
	h3, h4, h5, h6 {
		@include large;
	}
	
	article {
		h1, h2 {
			border-bottom: 5px solid $text-alt-color;
			margin-bottom: $text-lineheight;
			margin-top: $text-lineheight * 2 - 5px;
			max-width: 800px;
		}

		
		header {
			//border-bottom: 5px solid $text-alt-color;
			//margin-bottom: $text-lineheight * 1 ;
			max-width: 800px;
			
			h1, h2 {
				border-bottom: none;
			}
			h1 {
				@include massive;
				margin-bottom: 0;
			}
			h2{
				@include huge;
			}
			
			time {
				//color: $text-mute-color;
				//font-size: $text-fontsize - 2;
				display: inline-block;
			}
			.byline {
				margin-bottom: $text-lineheight;
				color: $text-mute-color;
				font-size: $text-fontsize - 2;
			}
			
			.comments-link {
				display: inline-block;
				margin-left: 5px;
				color: $text-mute-color;
				font-size: $text-fontsize - 2;
				display: inline-block;
				white-space:nowrap;
				text-align: left;
				&:before {
				  content: '\2014 \00A0';
				}
			}
			
		}
		
		div {
			margin-bottom: $text-lineheight;
		}
		
		div.entry-meta {
			margin-bottom: 0;
			display: inline-block;
		}
		
		aside {
			margin-bottom: $text-lineheight - 5px;
			margin-top: $text-lineheight * 2 - 5px;
			
			h1 {
				@include huge;
				
				margin-top: 0;
			}
			
			h2, h3, h4, h5, h6 {
				@include large;
				
				margin-top: 0;
			}
		}
		
		footer {
			//border-top: 5px solid lighten($text-mute-color, 10%);
			//padding-top: $text-lineheight;
			
			font-size: $text-fontsize - 2;
			color: $text-mute-color;
			clear: both;
			
			p, div {	
				font-size: $text-fontsize - 2;
				color: $text-mute-color;
				margin-bottom: 0;
			}
			
			.edit-link {
				&:before {
				  content: '\2014 \00A0';
				}
			}
		}
		
		img {
			height: auto !important;
		}
		
		p {
			text-align: justify;
		}
	}
	
	#primary article.post-password-required .entry-content {
		form {
			border: none;
			padding: 0;
			background: none;
			p:first-child {
				color: $text-mute-color;
				font-size: $text-fontsize - 2;
			}
			
			input {
				-webkit-appearance: none;
				min-width: 75px;
			}
			
			label {
			
				border-left:  5px solid $text-alt-color;
				padding: 2px 0 ($text-lineheight - $text-fontsize) $text-lineheight - 5;
				
				max-width: none;
				width: 35%;
				text-align: left;
				min-width: 150px;
				
				input {
					width: 100%;
					max-width: none;
					-webkit-appearance: none;
				}
			}
		}
	}
}

.entry-content {
	margin-bottom: $text-lineheight
}

.entry-format { 
	display: none;
}

#main article header hgroup .entry-title {
	margin-top: $text-lineheight;
}
		
.entry-unrelated {
	display: block;
	margin-bottom: $text-lineheight;
}
		
.page-link {
	clear: both;
	
	a {
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 5px;
		border-bottom: 5px solid $link-color;
	}
	
	a:hover {
		display: inline-block;
		text-decoration: none;
		background: $link-color;
		color: #FFFFFF;
		border-bottom: 5px solid $link-color;
	}
}

.alignleft {
	display: inline;
	float: left;
	margin: $text-xheight $text-xheight $text-xheight 0;
}

.alignright {
	display: inline;
	float: right;
	margin: $text-xheight 0 $text-xheight $text-xheight;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone {
	@include clearfix;
}

p .alignnone {
	margin-right: auto;
	margin-left: 0;
	display: block;
}

.wp-caption {
}

.wp-caption-text {
	color: $text-mute-color;
	font-size: $text-fontsize - 2;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#primary-content-title,
#nav-above {
	display: none;
}

#nav-below,
#nav-single {
	margin-top: $text-lineheight * 1;
	
	@include clearfix();
	
	a {
		line-height: $text-lineheight * 2;
		height: $text-lineheight * 2;
		display: block;
		vertical-align: center;
	}
}

	
.more-link:before {
	margin-right: $text-fontsize;
	font-size: $text-fontsize * 2;
	position: relative;
	top: 3px;
	content: '\00A0\00bb'; /* http://css-tricks.com/snippets/html/glyphs/ */
	color: $link-color;
}
	
.nav-previous {
	float: left;
	
	a:before {
		margin-right: $text-fontsize;
		font-size: $text-fontsize * 2;
		float: left;
		margin-top: -2px;
		content: '\00ab'; /* http://css-tricks.com/snippets/html/glyphs/ */
		color: $link-color;
	}
	> *:hover {
		text-decoration: none;
		color: $link-hover-color;
	}
}
	
.nav-next {
	float: right;
	a:before {
		margin-right: $text-fontsize;
		font-size: $text-fontsize * 2;
		float: right;
		margin-top: -2px;
		content: '\00A0\00bb'; /* http://css-tricks.com/snippets/html/glyphs/ */
		color: $link-color;
	}
	> *:hover {
		text-decoration: none;
		color: $link-hover-color;
	}
}

#nav-single {
}

#secondary {

	margin-top: $text-lineheight;
	//border-top: 1px solid $text-mute-color;
	
	ul {
		list-style: none;
	  margin-left: 0;
	  ul {
		list-style: none;
		margin-left: 0;
	  }
	}
}

/* PAGE HEADER */

#branding {
	h1 { 
		margin-top: $text-lineheight * 3.5;
		white-space:nowrap;
		text-align: left;
	}
	
	h2 {
		color: $text-mute-color;
		font-size: $text-fontsize + 4;
		margin: 0 0 ($text-lineheight * 2.5) ($text-lineheight * 2);
		display: block;
		white-space:nowrap;
		text-align: left;
		&:before {
		  content: '\2014 \00A0';
		}
	}
	
	hgroup {
		display: inline-block;
		margin-right: 40px;
	}
	
	#branding-container {
		text-align: center;
	}
	
	nav {
		clear: both;
	}
	
	input[type="search"]::-webkit-search-cancel-button {
		 -webkit-appearance: none;
	}
	
	.searchform 
	{
		margin: 0 auto $text-lineheight / 2;
		//width: 250px;
		min-width: 230px;
		clear: both;
		
		
		.assistive-text {
			display: none;
		}
		
		.submit
		{
			position: relative;
			background: #f5f5f5;
			border: 1px solid #ccc;
			z-index: 2;
			display: block;
			width: auto;
			min-width: 16px;
			height: 26px;
			padding: 3px 6px 3px 5px;
			font-weight: normal;
			line-height: 18px;
			text-align: center;
			text-shadow: 0 1px 0 $white;
			color: lighten($text-color, 20%);
			
			margin-right: 0;
			margin-left: -1px;
			width: 22%;
			@include border-radius(0 3px 3px 0);
			
			-webkit-appearance: none;
		}
		
		.field {
			float: left;
			max-width: none;
			width: 74%; 
			@include border-radius(3px 0 0 3px);
			
			-webkit-appearance: none;
		}
	}
}

@media screen and (min-width: 640px)
{
	#branding {
		hgroup {
			float: left;
		}
		
		#branding-container {
			text-align: left;
		}
		
		.searchform 
		{
			float: right;
			clear: none;
			
			width: 36%;
			margin-top: $text-lineheight * 4.5;
			
			
			.submit {
				//width: auto;
			}
			
			.field {
				width: 74%
			}
		}
	}
}

@media screen and (min-width: 888px)
{
	#branding {
		.searchform 
		{
			margin-right: 20px;
		}
	}
}

/* PAGE FOOTER */

#colophon
{
	clear: both;
	
	#colophon-container
	{
		border-top: 1px solid $text-mute-color;
		//margin-top: $text-lineheight;
		padding-top: $text-lineheight;
		margin-bottom: $text-lineheight;
	}

	p {
		font-size: $text-fontsize - 2;
		color: $text-mute-color;
		text-align: center;
		margin-bottom: $text-lineheight / 2;
	}
}

@media screen and (min-width: 888px)
{
	#colophon {
		padding-bottom: $text-lineheight * 2;
		
		#colophon-container
		{
			border-top: 0;
			border-top: 1px solid $text-mute-color;
		}
		
		p {
			margin-top: $text-lineheight;
			max-width: none;
		}
	
		.site-copyright {
			margin: 0;
			display: inline-block;
			float: left;
		}
		
		.site-feed-links {
			margin: 0 auto;
			max-width: 250px;
			display: block;
			text-align: center;
			
			position: relative;
		}
		
		.site-generator {
			margin: 0;
			display: inline-block;
			width: 200px;
			float: right;
		}
	}
}

@media only screen and (max-device-width: 480px) {    
	/* Note: 100% instead of none should keep usability intact. */
	/* 
		http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
		http://stackoverflow.com/questions/5303263/fix-font-size-issue-on-mobile-safari-iphone-where-text-is-rendered-inconsisten
	*/
	
        #main, #colophon { 
			-webkit-text-size-adjust: 100%;
		}          
}