// Comatose style

#page-header {
	hgroup {
	}
	h1 { 
		margin-top: $text-lineheight * 3.5;
	}
	h2 {
		color: $text-mute-color;
		font-size: $text-fontsize + 4;
		margin: 0 0 ($text-lineheight * 2.5) ($text-lineheight * 2);
		&:before {
		  content: '\2014 \00A0';
		}
	}
}