/* header styling */

#branding,
#colophon {
	h1 {
		@include gigantic;
		
		margin-bottom: 0;
		
		a {
			color: $text-color;
			&:hover {
				color: $text-color;
			}
		}
	}
	h2 {
		@include massive;
	}
	
	h3 {
		@include huge;
	}
	
	h4, h5, h6 {
		@include large;
	}
}

#main {

	margin-top: $text-lineheight;

	h1 {
		@include massive;
	}
	
	h2{
		@include huge;
	}
	
	h3, h4, h5, h6 {
		@include large;
	}
	
	article {
		h1, h2 {
			border-bottom: 5px solid $text-alt-color;
			margin-bottom: $text-lineheight;
			margin-top: $text-lineheight * 2 - 5px;
			max-width: 800px;
		}
		
		header {
			//border-bottom: 5px solid $text-alt-color;
			//margin-bottom: $text-lineheight * 1 ;
			max-width: 800px;
			
			h1, h2 {
				border-bottom: none;
			}
			h1 {
				@include massive;
				margin-bottom: 0;
			}
			h2{
				@include huge;
			}
			
			time {
				//color: $text-mute-color;
				//font-size: $text-fontsize - 2;
				display: inline-block;
			}
			.byline {
				margin-bottom: $text-lineheight;
				color: $text-mute-color;
				font-size: $text-fontsize - 2;
			}
		}
		
		div {
			margin-bottom: $text-lineheight;
		}
		
		div.entry-meta {
			margin-bottom: 0;
		}
		
		aside {
			margin-bottom: $text-lineheight - 5px;
			margin-top: $text-lineheight * 2 - 5px;
			
			h1 {
				@include huge;
				
				margin-top: 0;
			}
			
			h2, h3, h4, h5, h6 {
				@include large;
				
				margin-top: 0;
			}
		}
		
		footer {
			//border-top: 5px solid lighten($text-mute-color, 10%);
			//padding-top: $text-lineheight;
			
			font-size: $text-fontsize - 2;
			color: $text-mute-color;
			clear: both;
			
			p, div {	
				font-size: $text-fontsize - 2;
				color: $text-mute-color;
				margin-bottom: 0;
			}
		}
		
		img {
			height: auto !important;
		}
	}
}

.entry-content {
	margin-bottom: $text-lineheight
}
		
.entry-unrelated {
	display: block;
	margin-bottom: $text-lineheight;
}
		
.page-link {
	clear: both;
	
	a {
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		margin-left: 5px;
		border-bottom: 5px solid $link-color;
	}
	
	a:hover {
		display: inline-block;
		text-decoration: none;
		background: $link-color;
		color: #FFFFFF;
		border-bottom: 5px solid $link-color;
	}
}

.alignleft {
	display: inline;
	float: left;
	margin: $text-xheight $text-xheight $text-xheight 0;
}
.alignright {
	display: inline;
	float: right;
	margin: $text-xheight 0 $text-xheight $text-xheight;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
}

.wp-caption-text {
	color: $text-mute-color;
	font-size: $text-fontsize - 2;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#primary-content-title,
#nav-above {
	display: none;
}

#nav-below,
#nav-single {
	margin-top: $text-lineheight * 1;
	margin-bottom: $text-lineheight * 1;
	padding-bottom: $text-lineheight;
	
	a {
		line-height: $text-lineheight * 2;
		height: $text-lineheight * 2;
		display: block;
		vertical-align: center;
	}
}

	
	.nav-previous {
		float: left;
		
		a:before {
			margin-right: $text-fontsize;
			font-size: $text-fontsize * 2;
			float: left;
			content: '\00ab'; /* http://css-tricks.com/snippets/html/glyphs/ */
			color: $link-color;
		}
		> *:hover {
			text-decoration: none;
			color: $link-hover-color;
		}
	}
	
	.nav-next {
		float: right;
		
		a:before {
			margin-right: $text-fontsize;
			font-size: $text-fontsize * 2;
			float: right;
			content: '\00A0\00bb'; /* http://css-tricks.com/snippets/html/glyphs/ */
			color: $link-color;
		}
		> *:hover {
			text-decoration: none;
			color: $link-hover-color;
		}
	}

#secondary {
	padding-top: $text-lineheight;
	//border-top: 1px solid $text-mute-color;
	
	ul {
		list-style: none;
	  margin-left: 0;
	  ul {
		list-style: none;
		margin-left: 0;
	  }
	}
}

/* PAGE HEADER */

#branding {
	h1 { 
		margin-top: $text-lineheight * 3.5;
	}
	
	h2 {
		color: $text-mute-color;
		font-size: $text-fontsize + 4;
		margin: 0 0 ($text-lineheight * 2.5) ($text-lineheight * 2);
		&:before {
		  content: '\2014 \00A0';
		}
	}
	
	nav {
		clear: both;
	}
	
	.searchform 
	{
		margin: 0 auto $text-lineheight / 2;
		//width: 250px;
		min-width: 230px;
		clear: both;
		
		.assistive-text {
			display: none;
		}
		
		.submit
		{
			position: relative;
			background: #f5f5f5;
			border: 1px solid #ccc;
			z-index: 2;
			display: block;
			width: auto;
			min-width: 16px;
			height: 26px;
			padding: 3px 6px 3px 5px;
			font-weight: normal;
			line-height: 18px;
			text-align: center;
			text-shadow: 0 1px 0 $white;
			color: lighten($text-color, 20%);
			
			margin-right: 0;
			margin-left: -1px;
			width: 22%;
			@include border-radius(0 3px 3px 0);
		}
		
		.field {
			float: left;
			max-width: none;
			width: 74%; 
			@include border-radius(3px 0 0 3px);
		}
	}
}

@media screen and (min-width: 640px)
{
	#branding {
		hgroup {
			float: left;
		}
		
		.searchform 
		{
			float: right;
			clear: none;
			
			width: 300px;
			margin-top: $text-lineheight * 4.5;
			
			.submit {
				width: auto;
			}
			
			.field {
				width: 75%
			}
		}
	}
}

/* PAGE FOOTER */

#colophon
{
	clear: both;
	
	#colophon-container
	{
		border-top: 1px solid $text-mute-color;
		margin-top: $text-lineheight;
		padding-top: $text-lineheight;
		margin-bottom: $text-lineheight;
	}

	p {
		font-size: $text-fontsize - 2;
		color: $text-mute-color;
		text-align: center;
		margin-bottom: $text-lineheight / 2;
	}
}

@media screen and (min-width: 888px)
{
	#colophon {
		padding-bottom: $text-lineheight * 2;
		
		#colophon-container
		{
			border-top: 0;
			border-top: 1px solid $text-mute-color;
		}
		
		p {
			margin-top: $text-lineheight;
			max-width: none;
		}
	
		.site-copyright {
			margin: 0;
			display: inline-block;
			float: left;
		}
		
		.site-feed-links {
			margin: 0;
			display: block;
			text-align: center;
			
			position: relative;
		}
		
		.site-generator {
			margin: 0;
			display: inline-block;
			width: 200px;
			float: right;
		}
	}
}