/* Forms.less
 * Base styles for various input types, form layouts, and states
 * ------------------------------------------------------------- */

	
	 
	form
	{
		fieldset {
			margin-bottom: $text-lineheight;
			padding-top: $text-lineheight;
		}
		
		legend
		{
			@include large;
			display: block;
			line-height: 1;
			margin-left: 25%;
			padding-top: $text-lineheight * 1.75;
			padding-bottom: $text-lineheight * 0.25;
		}
		
		fieldset:first-child legend{
			padding-top: $text-lineheight * 0.5;
			padding-bottom: $text-lineheight * 0.5;
		}
	}

	form .clearfix {
		margin-bottom: $text-lineheight;
		@include clearfix;
	}

	// Set font for forms
	label,
	input,
	select,
	textarea {
	  @include sans-serif-font(normal, $text-fontsize ,normal);
	}




	// Checkboxs and radio buttons
	input[type=checkbox],
	input[type=radio] {
	  cursor: pointer;
	}

	// Inputs, Textareas, Selects
	input,
	textarea,
	select,
	.uneditable-input {
	  display: inline-block;
	  width: 75%;
	  max-width: 250px;
	  height: $text-lineheight;
	  font-size: $text-fontsize;
	  line-height: $text-lineheight;
	  color: $text-color;
	  border: 1px solid #ccc;
	  padding: 2px;
	  @include border-radius(3px);
	}

	textarea {
		min-height: $text-lineheight * 5;
		height: auto;
	}
	
	#primary textarea {
		max-width: 75%;
	}

	/* mini reset for non-html5 file types */
	input[type=checkbox],
	input[type=radio] {
	  width: auto;
	  height: auto;
	  padding: 0;
	  margin: 3px 0;
	  *margin-top: 0; /* IE6-7 */
	  line-height: normal;
	  border: none;
	}

	input[type=file] {
	  background-color: $white;
	  padding: initial;
	  border: initial;
	  line-height: initial;
	  @include box-shadow(none);
	}

	input[type=button],
	input[type=reset],
	input[type=submit] {
	  width: auto;
	  height: auto;
	}

	select,
	input[type=file] {
	  height: $text-lineheight + 4; // In IE7, the height of the select element cannot be changed by height, only font-size
	  line-height: $text-lineheight + 4;
	  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
	}


	// Make multiple select elements height not fixed
	select[multiple] {
	  height: inherit;
	}

	// For text that needs to appear as an input but should not be an input
	// Disabled and read-only inputs
	input[disabled],
	select[disabled],
	textarea[disabled],
	input[readonly],
	select[readonly],
	textarea[readonly],
	.uneditable-input  {
	  background-color: $white;
	  border-color: #eee;
	  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
	  color: $text-mute-color;
	   cursor: default;
	}

	// Placeholder text gets special styles; can't be bundled together though for some reason
	:-moz-placeholder {
	  color: $text-mute-color;
	}
	::-webkit-input-placeholder {
	  color: $text-mute-color;
	}

	// Help Text
	.help-inline,
	.help-block {
	  font-size: $text-fontsize - 2;
	  line-height: $text-lineheight;
	  color: $text-mute-color;
	}
	.help-inline {
	  padding-left: 5px;
	  *position: relative; /* IE6-7 */
	  *top: -5px; /* IE6-7 */
	}

	// Big blocks of help text
	.help-block {
	  display: block;
	  max-width: 600px;
	}

	// Inline Fields (input fields that appear as inline objects
	.inline-inputs {
	  color: $text-color;
	  span, input {
		display: inline-block;
	  }
	  input.mini {
		width: 60px;
	  }
	  input.small {
		width: 90px;
	  }
	  span {
		padding: 0 2px 0 1px;
	  }
	}

	// Stacked options for forms (radio buttons or checkboxes)
	.inputs-list {
	  margin: 0 0 5px;
	  width: 100%;
	  li {
		display: block;
		padding: 0;
		width: 100%;
	  }
	  label {
		display: block;
		float: none;
		width: auto;
		padding: 0;
		line-height: $text-lineheight;
		text-align: left;
		white-space: normal;
		strong {
		  color: $gray;
		}
		small {
		  font-size: $text-fontsize - 2;
		  font-weight: normal;
		}
	  }
	  .inputs-list {
		margin-left: 25px;
		margin-bottom: 10px;
		padding-top: 0;
	  }
	  &:first-child {
		padding-top: 6px;
	  }
	  li + li {
		padding-top: 2px;
	  }
	  input[type=radio],
	  input[type=checkbox] {
		margin-bottom: 0;
	  }
	}

	

	#primary form {
		margin-bottom: $text-lineheight;
		background: $form-background;
		border-left: 5px solid $text-alt-color;
		padding-left: $text-lineheight - 5px;
		padding-top: $text-lineheight;
		line-height: $text-lineheight;	
		min-width: 230px;
	}
	
	// Float labels left
	label {
	  padding-top: 2px;
	  font-size: $text-fontsize;
	  line-height: $text-lineheight;
	  float: left;
	  width: 23%;
	  text-align: right;
	  color: $grayDark;
	  padding-right: $text-fontsize;
	}

	// Shift over the inside div to align all label's relevant content
	form .input {
	  margin-left: 25%;
	}
	
	// Allow us to put symbols and text within the input field for a cleaner look
	.input-prepend,
	.input-append {
	  input {
		@include border-radius(0 3px 3px 0);
	  }
	  .add-on {
		position: relative;
		background: #f5f5f5;
		border: 1px solid #ccc;
		z-index: 2;
		float: left;
		display: block;
		width: auto;
		min-width: 16px;
		height: 18px;
		padding: 3px 4px 3px 5px;
		margin-right: -1px;
		font-weight: normal;
		line-height: 18px;
		color: $grayLight;
		text-align: center;
		text-shadow: 0 1px 0 $white;
		@include border-radius(3px 0 0 3px);
	  }
	  .active {
		background: lighten($green, 30);
		border-color: $green;
	  }
	}
	.input-prepend {
	  .add-on {
		*margin-top: 1px; /* IE6-7 */
	  }
	}
	.input-append {
	  input {
		float: left;
		@include border-radius(3px 0 0 3px);
	  }
	  .add-on {
		@include border-radius(0 3px 3px 0);
		margin-right: 0;
		margin-left: -1px;
	  }
	}

	.actions {
		margin-left: 25%;
		padding-bottom: $text-lineheight;
	}

	 