$column: 100% / 18;

/* header and footer span the page margins */
#branding,
#colophon {
	clear: both;
}

#branding-container,
#branding .menu > ul,
#primary
{
	padding: 0 ($text-lineheight - $text-fontsize);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

#colophon-container,
#secondary {
	margin: 0 ($text-lineheight - $text-fontsize);
}

#secondary {

	border-top: 1px solid $text-mute-color;
}

/* 4 grid */
@media screen and (min-width: 640px) {
	#branding-container,
	#branding .menu > ul,
	#primary,
	#secondary,
	#colophon-container {
		margin: 0 $column/2;
	}
	
	#primary{
		padding: 0;
	}
	
	#primary aside {
		clear: right;
		width: $column*6;
		float: right;
		margin-left: $text-lineheight;
	}
	
	#secondary aside {
		width: 50%;
		float: left;
	}
}

@media screen and (min-width: 888px) {
	#branding-container,
	#branding .menu > ul,
	#primary,
	#secondary,
	#colophon-container {
		margin: 0 auto;
		max-width: 800px + ($text-lineheight*2);
	}
	
	#secondary aside {
		width: 33%;
		float: left;
	}
}

@media screen and (min-width: 984px) {

	
	#secondary aside {
		width: 25%;
		float: left;
	}
}

@media screen and (min-width: 1200px) {
	#branding-container,
	#branding .menu > ul,
	#colophon-container {
		margin: 0 $column;
		max-width: 99999px;
	}

	#primary {
		float: left;
		width: $column*12;
		margin: 0 0 0 $column;
		max-width: 99999px;
	}
	
	#secondary {
		float: right;
		width: 20.5%;
		margin: 0 $column 0 0;
		max-width:  99999px;
		
		border-top: none;
		//border-left: 1px solid $text-mute-color;
		margin-left: $text-lineheight / 2 - 1;
		padding-left: $text-lineheight / 2;
		
		aside {
			width: 100%;
		}
	}
}

@media screen and (min-width: 1440px) {
	#branding-container,
	#branding .menu > ul,
	#colophon-container {
		width: 1280px;
		margin: 0 auto;
	}

	#primary {
		float: left;
		width: 960px;
		margin: 0 ;
	}
	
	#secondary {
		float: right;
		width:  320px - $text-lineheight;
		margin: 0;
	}
	
	#main {
		width: 1280px;
		margin: 0 auto;
	}
}