// nav here

#branding hgroup,
#branding .menu > ul,
#colophon-container
{
	padding: 0;
}

#branding nav {
	background: $text-alt-color;
	min-height: $text-lineheight * 3;
	ul
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		font-size: $text-fontsize + 6;	
		
		li
		{
			&.pull-right {
				float: none;
			}
			a {
				border-top: 1px solid lighten($text-alt-color, 5%);
				border-bottom: 1px solid darken($text-alt-color, 5%);
				
				color: $page-background;
				display: block;
				height: $text-lineheight;
				padding: ($text-lineheight / 2 - 1) ($text-lineheight / 2);
			}
						
			a:hover
			{
				border: none;
				padding-top: $text-lineheight / 2;
				padding-bottom: $text-lineheight / 2;
				text-decoration: none;
				color: $page-background;
				background: $link-color;
			}
			
			li a
			{
				padding-left: $text-lineheight * 1.5;
			}
			
			li li a
			{
				padding-left: $text-lineheight * 2.5;
			}
			
			li li li a
			{
				padding-left: $text-lineheight * 3.5;
			}
			
			li li li li a
			{
				padding-left: $text-lineheight * 4.5;
			}
		}
	}
}

@media screen and (min-width: 640px)
{
	/*
	#branding .menu > ul
	{
		padding: 0 ($text-lineheight - $text-fontsize);
	}
	*/

	#branding .menu {
		ul {
			li {
				float: left;
				
				&.pull-right {
					float: right;
				}
				
				&.pull-right &:last-child {
					margin-right: 0px;
				}
				
				a, li a, li li a, li li li a, li li li li a {
					padding-left: $text-lineheight
				}
				
				ul {
					z-index: 1;
					background: $text-alt-color;
					position: absolute;
					left: -9999px;
					margin: 0;
					border-left: 5px solid $link-color;
				}
				
				ul ul {
					margin-top: 0 - $text-lineheight * 2;
					margin-left: 190px;
				}
				
				ul li {
					float: none;
					margin: 0;
					width: 190px;
				}
				
				a:before {
					content: "";
				}
				
				a:not(:last-child):after
				{
					content:" ";
					display:inline-block;
					width: 0;
					height: 0;
					margin-left: $text-lineheight / 2;
					margin-bottom: 3px;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid $page-background;
				}

				li a:not(:last-child):after
				{
					content:" ";
					display: inline-block;
					float: right;
					width: 0;
					height: 0;
					margin-left: $text-lineheight / 2;
					margin-top: 5px;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 5px solid $page-background;
				}
				
				&:hover > a
				{
					border: none;
					padding: $text-lineheight;
					text-decoration: none;
					color: $page-background;
					background: $link-color;
				}
				
				li:hover > a
				{
					padding: $text-lineheight / 2 $text-lineheight / 2 $text-lineheight / 2 $text-lineheight;
				}
				
				&:hover > ul,
				li:hover > ul,
				li li:hover > ul
				{
					left: auto;
				} 
			}
			
			@include clearfix();
		}
		
		> ul > li > a
		{
			border: none;
			padding: $text-lineheight;
		}
		
		> ul > li:first-child
		{
			margin-left: 0-$text-lineheight;
		}
	}
}