/* Typography.less
 * Headings, body text, lists, code, and more for a versatile and durable typography system
 * ---------------------------------------------------------------------------------------- */
 
// BODY TEXT
// ---------

body {
	background: $page-background;
	color: $text-color;
	
	@include sans-serif-font;
	
	//border-top: 5px solid $text-alt-color;
}

p {
	max-width: 800px;
	font-size: $text-fontsize;
	line-height: $text-lineheight;
	margin-bottom: $text-lineheight;

	color: $text-color;
	
	small {
		font-size: $text-fontsize - 2;
		color: $header-color;
	}
	
	&.alignright {
		margin-left: auto;
		text-align: right;
	}
	&.aligncenter  {
		margin: 0 auto;
		text-align: center;
	}
	&.justify {
		width: 100%;
		text-align: justify;
	}
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $header-color;
  
  small {
    color: $text-mute-color;
  }
}

// COLORS
// ------

// Unordered and Ordered lists
ul, ol {
  margin: 0 0 $text-lineheight $text-lineheight;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: $text-lineheight;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
  ul {
	list-style: none;
  }
}

// Description Lists
dl {
  margin-bottom: $text-lineheight;
  
  dt, dd
  {
	margin: 0 0 0 0;
  }
  dt {
    font-weight: bold;
	line-height: $text-lineheight;
    padding: ($text-lineheight / 2) $text-lineheight * 1.5 0 $text-lineheight / 2;
  }
  dd {
    //font-style: italic;
	font-size: $text-fontsize - 1;
	line-height: $text-lineheight;
    padding: 0 $text-lineheight / 2 ($text-lineheight / 2) $text-lineheight * 1.5;
  }
}

//Images

/* Images */
figure, img, embed, object, video {
	max-width: 100%;
	margin: $text-xheight 0 $text-xheight auto;
	
	&.alignright {
		margin-left: auto;
		margin-right: 0;
		display: block;
	}
	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	&.fill {
		width: 100%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	figure, img {
		zoom: 50%;
	}
}

p img, 
p figure {
	float: left;
	display: inline;
	margin-right: $text-xheight;
	
	&.right {
		float: right;
		margin-left: $text-lineheight;
		margin-right: auto;

	}
	
	&.center {
		float: center;
		margin-left: $text-lineheight;
		margin-right: $text-lineheight;
	}
}

// MISC
// ----

// Horizontal rules
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}

// Emphasis
strong {
  font-style: inherit;
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
.muted {
  color: $text-mute-color;
}

del {
	color: $del-color;
}

ins {
	color: $ins-color;
	text-decoration: none;
	&:before {
      content: '+';	  
    }
}

// Blockquotes
blockquote {
  margin-bottom: $text-lineheight;
  margin-left: $text-lineheight / 2;
  border-left: 5px solid $text-color;
  padding-left: $text-lineheight - 5;
  max-width: 600px;
  
  blockquote {
	border-left: 5px solid $text-mute-color;
  }
  
  p {
    @include shorthand-font(300,$text-fontsize - 1,$text-lineheight);
	//font-style: italic;
  }

  small, cite {
    //margin-bottom: $text-lineheight + ($text-lineheight - $text-fontsize);
	//padding-bottom: $text-fontsize;
	margin-left: auto;
	margin-right: $text-lineheight;
	text-align: right;
	display: block;
	height: $text-lineheight;
    font-style: normal;
    font-weight: bold;
    &:before {
      content: '\2014 \00A0';
    }
  }
}

// Inline Quotes
q {
	font-size: $text-fontsize;
	font-style: italic;
	&:before {
      content: '"';	  
    }
	&:after{
      content: '"';	  
    }
}

// Addresses
address {
	padding: 0 $text-lineheight/2 0 $text-lineheight - 5px;
	border-left: 5px solid $inset-color;
	
	margin-left: $text-lineheight / 2;
	margin-top: $text-lineheight;
	margin-bottom: $text-lineheight;
	
	display: block;
	font-size: $text-fontsize - 1;
	line-height: $text-lineheight;
}

// Inline and block code styles

code, pre, kbd, tt, var {
  padding: 0 3px 2px;
  @include monospace-font;
  @include border-radius(4px);
}

code, var, kbd, tt {
  background-color: $code-background;
  padding: 1px 3px;
  line-height: 0;
}

var {
	font-style: italic;
}

pre {
  background-color: $pre-background;
  display: block;
  padding: ($text-lineheight - 1) / 2;
  margin: 0 0 $text-lineheight;
  line-height: $text-lineheight;
  font-size: 12px;
  border: 1px solid $pre-border-color;
  @include border-radius(3px);
  white-space: pre;
  
  overflow:auto;
  overflow-x:scroll;
  overflow-y:auto;
}

/* Preset sizes. */

@mixin xsmall {
	font-size: 10px;
	line-height: $text-lineheight;
}

@mixin small {
	font-size: 12px;
	height: $text-lineheight;
}

@mixin normal {
	font-size: $header-fontsize;
	height: $text-lineheight;
	margin-top: $text-lineheight;
	margin-bottom: $text-lineheight;
}

@mixin large {
	font-size: $header-fontsize * 1.2;
	height: $text-lineheight;
	margin-top: $text-lineheight;
	margin-bottom: $text-lineheight;
}

@mixin huge {
	font-size: $header-fontsize * 1.5;
	height: $text-lineheight * 2;
	margin-top: $text-lineheight;
	margin-bottom: $text-lineheight;
}

@mixin massive {
	font-size: $header-fontsize * 2;
	height: $text-lineheight * 2;
	margin-top: $text-lineheight * 2;
	margin-bottom: $text-lineheight;
}

@mixin gigantic {
	font-size:  $header-fontsize * 3;
	height: $text-lineheight * 3;
	margin-top: $text-lineheight * 3;
	margin-bottom: $text-lineheight;
}

h1, h2, h3, h4, h5, h6 {
	color: $header-color;
	clear: both;
}


