/* main color definitions */
$blue:              #049CDB;
$blueDark:          #0064CD;
$green:             #46a546;
$greenDark:			#008000;
$red:               #9d261d;
$redDark:           #800000;
$yellow:            #ffc40d;
$orange:            #f89406;
$pink:              #c3325f;
$purple:            #7a43b6;

/*  Grays  */
$black:             #000;
$grayDark:          lighten($black, 25%);
$gray:              lighten($black, 50%);
$grayLight:         lighten($black, 70%);
$grayLighter:       lighten($black, 90%);
$white:             #fff;

$page-background: #fffefe;
$text-color: #303030;
$text-alt-color: #202020;
$text-accent-color: $blue;
$text-mute-color: $grayLight;

$text-fontsize:	12px;
$text-lineheight: 20px;
$text-xheight: ($text-lineheight - $text-fontsize);

$header-fontsize: 14px;
$header-color: $text-alt-color;

$link-color: $text-accent-color;
$link-color-hover: darken($link-color, 15);

$code-background: #F0F0F0;
$inset-color: $text-alt-color;
$ins-color: saturate(darken($green, 15%), 15%);
$del-color: $text-mute-color;
$form-background: #f8f8f8;
$pre-background: #F0F0F0;
$pre-border-color: darken($pre-background, 10%);

$table-border-color: $text-mute-color;
$th-border-color: $inset-color;

/*
@fluidKeyframeA: 640px;
@fluidKeyframeB: 888px;
@fluidKeyframeC: 984px;
@fluidKeyframeE: 1200px;
@fluidKeyframeF: 1440px;
*/