@import "layout";
@import "variables";

body {
	background: @primary-background;
	color: @primary-foreground;
	
	#font.sans-serif();
	border-top: 5px solid @strong-foreground;
}



/* Links */

a {
	color: @linkColor;
	text-decoration: none;
	line-height: inherit;
	font-weight: inherit;
	&:hover,
	&:visited:hover {
		color: @linkColorHover;
		text-decoration: underline;
	}
	&:visited {
		color: @linkColor;
	}
}


/* Paragraphs */

p {
	max-width: 800px;
	font-size: @basefont;
	margin-bottom: @baseline;
	margin-top: @baseline;
	line-height: @baseline;
	
	&.right {
		margin-left: auto;
		text-align: right;
	}
	&.center  {
		margin: 0 auto;
		text-align: center;
	}
	&.justify {
		width: 100%;
		text-align: justify;
	}
}



/* UL and OL lists */
ul, ol 
{
    list-style-position:inside;
	
	&.unstyled {
		list-style-type:none;
	}
}

ul ul, ul ol, ol ol {
	margin-left: @baseline;
}

/* Images */
figure, img {
	max-width: 100%;
	margin: @basespace 0 @basespace auto;
	
	&.right {
		margin-left: auto;
		margin-right: 0;
		display: block;
	}
	&.center {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	&.fill {
		width: 100%;
	}
}

p img, 
p figure {
	float: left;
	display: inline;
	margin-right: @basespace;
	
	&.right {
		float: right;
		margin-left: @baseline;
		margin-right: auto;

	}
	
	&.center {
		float: center;
		margin-left: @baseline;
		margin-right: @baseline;
	}
}

/* Block quote */

.bordered-indent{
	margin-left: 0;
	padding: 0 @baseline/2 0 @baseline - 5px;
	border-left: 5px solid @inset-color;
	background: #faf8f8;
	max-width: 600px;
	margin-top: @baseline;
	margin-bottom: @baseline;

	padding-top: @baseline / 2;
	padding-bottom: @baseline / 2;
}

pre, blockquote, address
{
	.bordered-indent;
}

pre, var, textarea
{
    #font.monospace();
	max-width: 100%;
}

code {
	#font.monospace();
}

big, small, code, kbd, tt {
	line-height: 0;
	font-size: @basefont;
}

dl {
    margin: @baseline 0 @baseline 0;
}

dt {
	.bordered-indent;

    font-weight: bold;
    margin: 0 0 0 0;
    padding: (@baseline / 2) @baseline * 1.5 0 @baseline;
}

dd {
	.bordered-indent;

    font-style: italic;
    margin: 0 0 0 0;
    padding: 0 @baseline / 2 (@baseline / 2) @baseline * 2;
}

blockquote {
    font-style: italic;
    max-width: 600px;
}

blockquote  blockquote {
    padding: @baseline/2 0 @baseline/2 (@baseline - 5px);
}

blockquote p:first-child {
    margin: 0;
	padding: 0;
}

blockquote p:last-child {
    margin: 0;
	padding: 0;
}

blockquote cite {
    margin: (@baseline/2) 0 (@baseline/2) @baseline;
	display: block; 
    font-style: normal;
    font-weight: bold;
}

blockquote cite a {
    text-decoration: none;
}

table {
  width: 100%;
  margin-top: @baseline;
  margin-bottom: @baseline;
  padding: 0;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapse; /* IE7, collapse table to remove spacing */
  font-size: @basefont;
  border: 1px solid #ddd;
  .border-radius(4px);
  th, td {
    padding: (@baseline/2) @basefont (@baseline/2 - 1) @basefont ;
    line-height: @baseline;
    text-align: left;
  }
  th {
    padding-top: (@baseline/2) - 1;
	padding-bottom: (@baseline/2) - 2;
    font-weight: bold;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
  }
  td {
    vertical-align: top;
  }
  th + th,
  td + td {
    border-left: 1px solid #ddd;
  }
  tr + tr td {
    border-top: 1px solid #ddd;
  }
  tbody tr:first-child td:first-child {
    .border-radius(3px 0 0 0);
  }
  tbody tr:first-child td:last-child {
    .border-radius(0 3px 0 0);
  }
  tbody tr:last-child td:first-child {
    .border-radius(0 0 0 3px);
  }
  tbody tr:last-child td:last-child {
    .border-radius(0 0 3px 0);
	padding-top: (@baseline/2) - 1;
  }
}


// ZEBRA-STRIPING
// --------------

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.zebra-striped {
  tbody {
    tr:nth-child(odd) td {
      background-color: #f9f9f9;
    }
    //tr:hover td {
    //  background-color: #f5f5f5;
    //}
  }
}

/* Sizing */

.xsmall {
	font-size: 10px;
	height: @baseline;
}

.small {
	font-size: 12px;
	height: @baseline;
}

.normal {
	font-size: @headerfont;
	height: @baseline;
	margin-top: @baseline;
	margin-bottom: @baseline;
}

.large {
	font-size: @headerfont * 1.2;
	height: @baseline;
	margin-top: @baseline;
	margin-bottom: @baseline;
}

.huge {
	font-size: @headerfont * 1.5;
	height: @baseline * 2;
	margin-top: @baseline;
	margin-bottom: @baseline;
}

.massive {
	font-size: @headerfont * 2;
	height: @baseline * 2;
	margin-top: @baseline * 2;
	margin-bottom: @baseline;
}

.gigantic {
	font-size:  @headerfont * 3;
	height: @baseline * 3;
	margin-top: @baseline * 3;
	margin-bottom: @baseline;
}

h1, h2, h3, h4, h5, h6 {
	color: @header-foreground;
	clear: both;
}

/* header styling */

#page-header, 
#page-footer {
	h1 {
		.gigantic;
		
		margin-bottom: 0;
	}
	h2 {
		.massive;
	}
	
	h3 {
		.huge;
	}
	
	h4, h5, h6 {
		.large;
	}
}

#page-content, 
#page-sidebar {
	h1 {
		.massive;
	}
	
	h2{
		.huge;
	}
	
	h3, h4, h5, h6 {
		.large;
	}

	
	article {
		h1, h2 {
			border-bottom: 5px solid @strong-foreground;
			margin-bottom: @baseline;
			margin-top: @baseline * 2 - 5px;
		}
		
		header {
			h1, h2 {
				border-bottom: none;
			}
			
			h1 {
				.massive;
			}
			h2{
				.huge;
			}
		}
		
		aside {
			margin-bottom: @baseline - 5px;
			margin-top: @baseline * 2 - 5px;
			
			h1 {
				.huge;
				
				margin-top: 0;
			}
			
			h2, h3, h4, h5, h6 {
				.large;
				
				margin-top: 0;
			}
		}
	}
}