@import "normalize";

/* main color definitions */
@red:               #9d261d;
@orange:            #f89406;
@yellow:            #ffc40d;
@green:             #46a546;
@blue:              #049CDB;
@purple:            #7a43b6;
@pink:              #c3325f;

@primary-background: #ffffff;
@primary-foreground: #353535;
@primary-accent: #b00000;

@linkColor: #0069d6;
@linkColorHover: darken(@linkColor, 15);

@basefont: 13px;
@baseline: 18px;


body 
{
	background: @primary-background;
}
