@import "normalize";

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body {
	min-height: 100%; 
	font-size: 100%;
}

@section-color: #808080;
@column: 100% / 18;


section, header, footer { 
	background: @section-color;
}

.clear-fix
{
	clear: both;
}

/* Smallest Size */

section, header, footer {
	margin: 0 @column;
}

header, footer {
	.clear-fix;
}

/* Four-column grid active */
@media screen and (min-width: 640px) {
		
}

/*  Eight-column grid active */
@media screen and (min-width: 720px) {
	
	#content {
		float: left;
		width: @column * 9;
		margin-left: @column;
		margin-right: 0;
	}
	
	/* Six-four split */
	
	#sidebar {
		float: left;
		width: @column * 6;
		margin-right: @column;
		margin-left: @column;
	}
	
	footer
	{
		margin-top: @column;
	}
	
}

@media screen and (min-width: 2080px) {
}