// nav here

hgroup {
	float: left;
}


nav {
	float: right;
	background: @strong-foreground;
	.border-radius(0 0 5px 5px);
	ul {
		list-style-type: none;
		margin: 0;
		
		li {
			float: left;
			a {
				display: block;
				padding: 5px 20px 10px;
				color: white;
			}
			a:hover {
				
			}
		}
	}
}